.App {
  text-align: center;
  background-image: url(./assets/images/bg-stars.svg);
  height: 100vh;
  background-color: hsl(234, 17%, 12%);
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

